* {
	box-sizing: border-box;
}

body {
	font-family: 'Roboto', sans-serif;
	background: url(./imglogin/fondo\ picachu.jpg);
	background-size: 100vw 100vh;
	background-repeat: no-repeat;
}

main {
	max-width: 800px;
	width: 90%;
	margin: auto;
	padding: 40px;
}
.cabecera-titulo{
    text-align: center;
    font-family: cursive;
    color: black;
}
.login {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 20px;
}

.login__label {
	display: block;
	font-weight: 700;
	padding: 10px;
	cursor: pointer;
}

.login__grupo-input {
	position: relative;
}

.login__input {
	width: 100%;
	background: #fff;
	border: 3px solid transparent;
	border-radius: 3px;
	height: 45px;
	line-height: 45px;
	padding: 0 40px 0 10px;
	transition: .3s ease all;
}

.login__input:focus {
	border: 3px solid #0075FF;
	outline: none;
	box-shadow: 3px 0px 30px rgba(163,163,163, 0.4);
}

.login__input-error {
	font-size: 12px;
	margin-bottom: 0;
	display: none;
	color: #090909;
}

.login__input-error-activo {
	display: block;
}

.login__validacion-estado {
	position: absolute;
	right: 10px;
	bottom: 15px;
	z-index: 100;
	font-size: 16px;
	opacity: 0;
}

.login__checkbox {
	margin-right: 10px;
}

.login__grupo-terminos, 
.login__mensaje,
.login__grupo-btn-enviar {
	grid-column: span 2;
}

.login__mensaje {
	height: 45px;
	line-height: 45px;
	background: #F66060;
	padding: 0 15px;
	border-radius: 3px;
	display: none;
}

.login__mensaje-activo {
	display: block;
}

.login__mensaje p {
	margin: 0;
}

.login__grupo-btn-enviar {
	display: flex;
	justify-content: space-evenly;
	align-items: center;

}

.btn_registro{
	text-decoration:none;
	color: #090909;
}

.login__btn {
	height: 45px;
	line-height: 45px;
	width: 30%;
	background: #0075FF;
	color: #090909;
	font-weight: bold;
	border: none;
	border-radius: 3px;
	cursor: pointer;
	transition: .1s ease all;
}

.login__btn:hover {
	box-shadow: 3px 0px 30px rgba(163,163,163, 1);
}

.login__mensaje-exito {
	font-size: 14px;
	color: #119200;
	display: none;
}

.login__mensaje-exito-activo {
	display: block;
}

/* ----- -----  Estilos para Validacion ----- ----- */
.login__grupo-correcto .login__validacion-estado {
	color: #1ed12d;
	opacity: 1;
}

.login__grupo-incorrecto .login__label {
	color: #bb2929;
}

.login__grupo-incorrecto .login__validacion-estado {
	color: #bb2929;
	opacity: 1;
}

.login__grupo-incorrecto .login__input {
	border: 3px solid #bb2929;
}


/* ----- -----  Mediaqueries ----- ----- */
@media screen and (max-width: 800px) {
	.login {
		grid-template-columns: 1fr;
	}

	.login__grupo-terminos, 
	.login__mensaje,
	.login__grupo-btn-enviar {
		grid-column: 1;
	}

	.login__btn {
		width: 100%;
	}
}